 <!-- About Section -->
 <section class="success" id="about">
  <div class="container">
      <div class="wow fadeInDown" data-wow-delay="0.2s" data-wow-offset="500" data-wow-duration="1s">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>About</h2>
              <hr class="star-primary">
          </div>
      </div>
      <div class="row">
          <img class="img-responsive center-block" src="img/profile.png" alt="profile-pic" width="200"/>

          <div class="col-lg-offset-3 col-lg-6">
          <div class="about-intro" >
              <strong>"자기주도학습하는 개발자입니다"</strong>
          </div>
              <hr><p>게임과 개발에 관심을 가지기 시작하면서  교육과 배움을 통해 자기주도적 학습을 이어가고 있습니다. 
                개발자로써 상상해본 게임을 구현 하고 싶은 생각을 가지게 되었고, 많은 사람이 열광하고 오랫동안 흥미를 잃지 않는
              즐거운 게임 또한 만들고 싶어 들어 이 분야에 발을 들이게 되었습니다.</p>
          </div>
      </div>
      </div>
  </div>
</section>
