<!-- About Section -->
<section class="career" id="career">
    <div class="container">    
    </head>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Career</h2>
                <hr class="star-light">
                <div class="timeline" id="timeline"></div> <!-- 타임라인 -->
                <h5>
                <div class="event-container" id="event-container"></div> <!--타임라인박스-->
                <div class="event-detail">
                2015.02 ~ 2018.02 선린인터넷 고등학교 <br>
                    2019.06 ~ 2020.02 유니티 학원 <br> 
                    2020.02 ~ 2021.03 42Seoul <br>
                    2021.03 ~ 2021.09 VR/AR콘텐츠 교육 <br> 
                    2021.06 ~ 2024.01 (주)한국가상현실 <br>
                    2023.02 ~ 2025.02 방송통신대학교 <br>
                </h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</section>


